/* Center */

body {
	font-family: arial,sans-serif; 
}

.centerbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 60vh;
	padding-left: 15px;

}

.centeritem {
	border-top: 2px;
	align-self: center;

}

#logo {
   display: flex;
   padding-bottom: 35px;
   height: 97;
   width: 272;

}

/* Searchbar */
#searchbar {
	height: 40px;
	width: 32em;
	border-radius: 25px;
	border: 1px solid #dfe1e5

}

#searchbar:hover {
	-webkit-box-shadow: 3px 6px 7px -3px #ccc;
}

#googlesearch {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px
	color #5F6368;
	display: block;
	position: absolute;
	height: 36px;
	min-width: 54px;
	margin: 25px 107px;
	padding-left: 16px;
	font-size: 14px;
	font-family: arial,sans-serif; 
}

#feelinglucky {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px
	color #5F6368;
	display: block;
	float: right;
	position: relative;
	height: 36px;
	min-width: 60px;
	margin: 25px 107px;
	line-height: 27px;
	align-items: center;
	font-size: 14px;
	font-family: arial,sans-serif; 

}